.testimonials-wrapper {
  position: relative;
}

.testimonials {
  position: relative;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

@media (max-width: 1780px) and (min-width: 768px) {
  .testimonials {
    padding: 0 80px;
  }
}

@media (min-width: 768px) {
  .testimonials {
    --slide-size: 50%;
  }
}

.testimonials__viewport {
  overflow: hidden;
}

.testimonials__container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1);
}

.testimonials__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  padding-bottom: 5px;
  position: relative;
}

/* Desfoque em slides inativos */
.testimonials__slide:not(.embla__slide--active)::after {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1.2px);
  z-index: 1;
  pointer-events: none;
}

.testimonial {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.testimonial blockquote {
  margin: 0 0 1.5rem 0;
  flex-grow: 1;
}

.testimonial blockquote p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #374151;
  font-style: italic;
  margin: 0;
}

.testimonial__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.author__image.placeholder {
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 50%;
  background: #7758b3;
  background: linear-gradient(
    322deg,
    rgba(119, 88, 179, 1) 0%,
    rgba(95, 123, 219, 1) 100%
  );
}

.author__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author__name {
  font-weight: 400;
  color: #564f6c;
}

.testimonials__navigation {
  position: relative;
}

.testimonials__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}

.testimonials__button {
  cursor: pointer;
  pointer-events: auto;
}

.testimonials__button:hover svg {
  stroke: #ffffff;
}

.testimonials__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.testimonials__button svg {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .testimonials {
    --slide-spacing: 0.75rem;
  }

  .testimonial {
    padding: 1.5rem;
  }

  .testimonials__button svg {
    width: 16px;
    height: 16px;
  }

  .testimonials__buttons {
    position: absolute;
    top: -80px;
    margin-top: 1rem;
    width: calc(100% - 2rem);
    max-width: none;
    justify-content: center;
    gap: 1.5rem;
    transform: none;
    left: 1rem;
    right: 1rem;
  }
}
